#map-container {
  position: relative;
  padding-bottom: calc(53%); }

#overlay-div {
  opacity: 1;
  transition: opacity 0.25s linear;
  padding: 10px; }

#detail-wrapper {
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

svg#alaska-map {
  position: absolute; }
  svg#alaska-map .links line {
    mix-blend-mode: hard-light;
    opacity: 0.30; }
    svg#alaska-map .links line.below-threshold {
      display: none; }
      svg#alaska-map .links line.below-threshold.active {
        display: initial; }
    svg#alaska-map .links line.active {
      opacity: 0.6; }
    svg#alaska-map .links line.cluster-1 {
      stroke: #30653a; }
    svg#alaska-map .links line.cluster-2 {
      stroke: #7d4f00; }
    svg#alaska-map .links line.cluster-3 {
      stroke: #4e597d; }
    svg#alaska-map .links line.cluster-4 {
      stroke: #2a616e; }
    svg#alaska-map .links line.cluster-5 {
      stroke: #a3301e; }
    svg#alaska-map .links line.cluster-6 {
      stroke: #81447f; }
    svg#alaska-map .links line.cluster-7 {
      stroke: #005fa9; }
    svg#alaska-map .links line.no-cluster {
      stroke: #5a5a5a; }
  svg#alaska-map .nodes circle {
    stroke: #fff;
    stroke-width: 0.1px; }
    svg#alaska-map .nodes circle:focus {
      outline: none; }
    svg#alaska-map .nodes circle.active {
      stroke: gold;
      stroke-width: 0.5px; }
    svg#alaska-map .nodes circle.cluster-1 {
      fill: #30653a; }
      svg#alaska-map .nodes circle.cluster-1.active {
        fill: #51aa62; }
      svg#alaska-map .nodes circle.cluster-1.attached {
        fill: #40884e; }
    svg#alaska-map .nodes circle.cluster-2 {
      fill: #7d4f00; }
      svg#alaska-map .nodes circle.cluster-2.active {
        fill: #e38f00; }
      svg#alaska-map .nodes circle.cluster-2.attached {
        fill: #b06f00; }
    svg#alaska-map .nodes circle.cluster-3 {
      fill: #4e597d; }
      svg#alaska-map .nodes circle.cluster-3.active {
        fill: #818cb0; }
      svg#alaska-map .nodes circle.cluster-3.attached {
        fill: #626f9c; }
    svg#alaska-map .nodes circle.cluster-4 {
      fill: #2a616e; }
      svg#alaska-map .nodes circle.cluster-4.active {
        fill: #46a2b8; }
      svg#alaska-map .nodes circle.cluster-4.attached {
        fill: #388293; }
    svg#alaska-map .nodes circle.cluster-5 {
      fill: #a3301e; }
      svg#alaska-map .nodes circle.cluster-5.active {
        fill: #de5d49; }
      svg#alaska-map .nodes circle.cluster-5.attached {
        fill: #ce3d26; }
    svg#alaska-map .nodes circle.cluster-6 {
      fill: #81447f; }
      svg#alaska-map .nodes circle.cluster-6.active {
        fill: #b675b4; }
      svg#alaska-map .nodes circle.cluster-6.attached {
        fill: #a256a0; }
    svg#alaska-map .nodes circle.cluster-7 {
      fill: #005fa9; }
      svg#alaska-map .nodes circle.cluster-7.active {
        fill: #1096ff; }
      svg#alaska-map .nodes circle.cluster-7.attached {
        fill: #007cdc; }
  svg#alaska-map .nodes text {
    font-size: 1px; }
  svg#alaska-map path.alaska {
    fill: #BCBEC0;
    stroke: #58585B; }

/*# sourceMappingURL=main.css.map */
