$blue: #051839;

body {
  max-width: 760px;
}

#overlay-div {
  position: absolute;
  top:0;
}

svg#alaska-map {
  .links line {
    
    mix-blend-mode: hard-light;
    opacity: 0.30;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 0.1px;

  }

  .nodes text {
    font-size: 1px;
  }

  path.alaska {
    fill: #BCBEC0; stroke: #58585B;
  }
}
