$blue: #051839;

#map-container {
  position: relative;
}

#overlay-div {
  position: absolute;
  top:0;
  background: rgba(255,255,255,0.8);
  opacity: 1;
  transition: opacity 0.25s linear; 
  padding:10px;
  
}

svg#alaska-map {
  .links line {
    
    mix-blend-mode: hard-light;
    opacity: 0.30;
    //transition: opacity 0.2s linear;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 0.1px;
    //transition: stroke 0.2s linear;
    &.active {
      stroke: #c7922b;
      stroke-width: 0.2px;
    }

  }

  .nodes text {
    font-size: 1px;
  }

  path.alaska {
    fill: #BCBEC0; stroke: #58585B;
  }
}
